/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

#main-top {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#main_top .flipped_logo {
    font-family: 'Lato', sans-serif;
    float:left;
    color:#333;
    font-size:80px;
    margin-right:10%;
}

.basket{
    width:90%;
}

.basket h2 {
    margin-top:0;
}

#subhead {
    background:#cc8aeb;
    color:white;
    padding:15px 100px;
    overflow:none;
    max-width: 80%;
}


#main-content {
    padding:0 100px;
    overflow:hidden;
}

#option-menu {
    border-top: 50px;
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#option-menu ul{
    margin:0;
    padding:0;
}

#option-menu ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#option-menu ul li a {
    display:block;
}

#option-menu ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#option-menu ul li.selected a {
    color:#fff;
}


#main-content {
    float:left;
    width: 80%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .products {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .products img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-info .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-info img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-info h1 {
    margin-bottom:0;
}

.product-info h2 {
    margin-top:10px;
}

#logo-image {
    max-width: 80%;
    height: 25px;
    
   
} */

.navbar{
    background-color: #cc8aeb;
}

.navbar-custom{
    background-color: red;
}